<!-- Aim Section -->
<section id="aim">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading text-center">My Aim</h2>
         <div class="text-justify text-muted">
           <p>My aim is to teach and educate people on how to live a
             well-rounded and balanced lifestyle. I strive to help you achieve your goals with full
             guidance both in and outside our sessions.</p>
           <p>My continuing support aims to ensure you
             are on track and have the knowledge you need to succeed. I will guide you along the way
             to ensure your new healthy routine is achievable and sustainable.</p>
           <p>Not a quick fix or a diet cultured approach but a personalised
             program that is tailored specifically to you and your fitness journey.</p>
         </div>
      </div>
    </div>
  </div>
</section>
