<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="column text-center">
                <div class="col-md-8 col-md-offset-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Personal Training Sessions</h4>
                    <div class="text-justify text-muted">
                        <p>My one to one Personal Training sessions are all tailored to clients' individual needs and goals. This could be bodyweight, weight training or cardio based workouts. Sessions will focus on correct execution of exercises as well as skill and technique.</p>
                        <p>I would describe my sessions as social and enjoyable while not forgetting the element of hard work. I push my clients to work to their maximum potential and they leave the session feeling motivated and energised.</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Session Options</h4>
                    <div class="text-justify text-muted">
                        <p>You can buy a block of four or eight 1:1 or 2:1 Personal Training Sessions with me.</p>
                        <p>These can take place during ‘off peak’ hours (between 9am and 5pm) or peak hours (before 9am or after 5pm).</p>
                        <p>Before you sign up to a block I offer a consultation and a 30 minute workout for a small charge of £20, this is deducted from the price of a block if you sign up.</p>
                        <p>Please contact me for the full list of prices.</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Group Sessions / 2-1 </h4>
                    <div class="text-justify text-muted">
                      <p class="text-muted">I also offer small group fitness sessions as well as 2:1 Personal Training sessions, this is a great way to train as it encourages some healthy competition and extra motivation.</p>
                      <p>You are also able to split the cost of the sessions which can make Personal Training more affordable for everyone. The workouts are still tailored towards each client’s needs and goals so you still get the full personalised experience. Please contact me for package prices.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
