<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-12 hid">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 text-center">
                            <div class="team-member">
                                <img src="img/team/{{ member.pic }}.jpg" class="img-responsive" alt="">
                                <h4>{{ member.name }}</h4>
                                <p class="text-muted">{{ member.position }}</p>
                                <ul class="list-inline social-buttons">
                                    {% for network in member.social %}
                                    <li>
                                        <a href="{{ network.url }}">
                                            <i class="fa fa-{{ network.title }}"></i>
                                        </a>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-md-center col-md-8 col-md-offset-2">
                <p class="text-muted">I am a Level 3 qualified Personal Trainer.</p>
                <p class="text-muted">I specialise in pre and post-natal exercise, nutritional coaching, weight training and body weight training.</p>
                <p class="text-muted">With 4 years of experience in London, I am now based in Basingstoke, Hampshire. I conduct COVID safe home and park visits where all equipment is provided and is sanitised in between sessions. I am also based at CrossFit Basingstoke where I can train you for no extra cost.</p>
                <br>
                <h5>Qualifications</h5>
                <ul>
                    <li class="text-muted">Active IQ Level 3 Diploma in Fitness Instructing and Personal Training</li>
                    <li class="text-muted">NASM Women’s Fitness Specialist</li>
                    <li class="text-muted">NASM Nutritional Coach</li>
                    <li class="text-muted">Train Fitness Indoor Cycling Coach</li>
                    <li class="text-muted">Train Fitness Exercise Referral Coach (pending qualification 2021)</li>
                </ul>
            </div>
        </div>
    </section>